* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
}

body {
    font-size: 1.6rem;
}

.cha{
    border: 3px solid black;
}

.con1{
    border: 3px solid red;
    width: 10rem;
    height: 10rem;
}

.con2{
    border: 3px solid blue;
    width: 10rem;
    height: 10rem;
}

/* --------------------- */
.chu{
    border: 3px solid black;
    display: flex;
}

.chau{
    border: 3px solid red;
    width: 30rem;
}

.chac{
    border: 3px solid blue;
    width: calc(100% - 30rem);
}

/* ------------------------------------------------------------------- */
/* Demo position */
.big-div{
    border: 3px solid green;
    width: 25rem;
    position: relative;
}

.small-div{
    border: 3px solid blue;
    background-color: aqua;
    /* position: relative;
    top: 5rem;
    left: 2rem; */
    /* hồn cách với xác ở trên là 5rem, cách so với trái là 2rem */

    /* position: absolute;
    top: 0;
    left: 0; */
    /* absolute ko chơi với ai khác static */

    /* mún big-div nhận small-div làm cha thì big-div phải khác static: => xài position: relative; */

    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1; */
    /* chỉ có position mới xài đc z-index */

    /* cách làm quảng cáo */
}

/* 
    static: bất động, tĩnh, mặc định của các thẻ
    relative: thoát xác, xuất hồn, bỏ lại xác, còn hồn thì đi
        căn chỉnh vị trí so với trạng thái static
    absolute: thoát toàn bộ khỏi cha, và nằm đè lên cha nó luôn
        nó sẽ căn chỉnh vị trí theo cha, nhưng nó ko nhận static làm cha
*/

.demo-sticky{
    position: sticky;
    top: 10px;
    /* nó sẽ đi theo màn hình khi cách 10px so với màn */
}

.btn-fb{
    border: 3px solid black;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    bottom: 0;
}

/* có 2 cái căng chỉnh theo màn hình là fixed và sticky */

.icon{
    position: absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*
pseudo tag: span div
pseudo class: :unvisited :visited :active :hover :forcus
pseudo element: :after va :before

*/

.ahihi::before{
    content: "hihi";
}
.ahihi::after{
    content: "huhu";
}
/*::after , ::before là visul DOM: con của ahihi*/


/* -------------------------------------------------------------------------------------- */
/* demo button cực cháy cực căng cực khó cực hay */
.demo-btn{
    margin: 3rem;
    padding: 1rem;
    border: 1px solid hotpink;
    background-color: transparent;
    color: hotpink;
    position: relative;
}
/* xóa content đi */
.demo-btn::after{
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    /* width: 100%; */
    width: 0%;
    z-index: -1;
    transition: 0.3s;
}

.demo-btn:hover::after{
    left: 0;
    width: 100%;
}
